
.topmenu {
	position: relative;
	padding: 0 41px 0 203px;
	font-size: 14px;
}
.topmenu:after {
	clear: both;
	content: '';
	display: block;
}
.topmenu .topcatalog {
	text-align: left;
	position: absolute;
	top: 0;
	left: 0;
	width: 203px;
	z-index: 3;
}
.topcatalog-show .topmenu .topcatalog {
	z-index: 11;
}
.topmenu .topcatalog .topcatalog-btn {
	position: relative;
	color: #373d54;
	text-transform: uppercase;
	border: 1px solid #e0e4f6;
	display: block;
	padding: 11px 10px 11px 38px;
	font-weight: 500;
	background: #eff1fa url(../assets/bar.png) no-repeat 14px 15px;
}
.topmenu .topcatalog .topcatalog-btn:after {
	position: absolute;
	top: 50%;
	right: 13px;
	content: '\f107';
	display: block;
	line-height: 1;
	margin: -8px 0 0;
	font-family: FontAwesome;
}
.topmenu .topcatalog:after {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	height: 5px;
	content: '';
	display: block;
}
.topcatalog .topcatalog-list {
	position: absolute;
	top: 100%;
	background: #fff;
	border-top: 1px solid #e0e4f6;
	border-left: 1px solid #e0e4f6;
	border-right: 1px solid #e0e4f6;
	text-align: left;
	margin: 5px 0 0;
	transition: all 0.3s ease;
	-webkit-transform: translate3d(0, 8px, 0);
	-moz-transform: translate3d(0, 8px, 0);
	-ms-transform: translate3d(0, 8px, 0);
	-o-transform: translate3d(0, 8px, 0);
	transform: translate3d(0, 8px, 0);
	visibility: hidden;
	opacity: 0;
	width: 0;
	overflow: hidden;
}
.topcatalog:hover .topcatalog-list {
	overflow: initial;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	visibility: visible;
	opacity: 1;
	width: auto;
}
.topcatalog-list li {
	position: relative;
	line-height: 120%;
}
.topcatalog-list li a {
	color: #373d54;
	font-size: 14px;
	line-height: 120%;
	border-bottom: 1px solid #e0e4f6;
	display: block;
	padding: 11px 25px 11px 13px;
	transition: all 0.2s;
	background: #f8fafc;
	position: relative;
	width: 201px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.topcatalog-list li:hover > a {
	background: #fff;
}
.topcatalog-list li:after {
	content: '';
	background: #373d54;
	position: absolute;
	top: -1px;
	bottom: -1px;
	left: -1px;
	z-index: 3;
	width: 3px;
	display: none;
}
.topcatalog-list li:hover:after {
	display: block;
}
.topcatalog-list li .fa {
	position: absolute;
	right: 14px;
	line-height: 100%;
	top: 50%;
	margin: -1px 0 0;
	line-height: 100%;
	-ms-transform: translate(0,-50%);
	-o-transform: translate(0,-50%);
	-moz-transform: translate(0,-50%);
	-webkit-transform: translate(0,-50%);
	transform: translate(0,-50%);
	transition: all 0.2s;
}
.topcatalog-list li ul {
	position: absolute;
	left: 100%;
	top: -1px;
	background: #fff;
	border: 1px solid #e0e4f6;
	transition: all 0.3s ease;
	-webkit-transform: translate3d(0, 8px, 0);
	-moz-transform: translate3d(0, 8px, 0);
	-ms-transform: translate3d(0, 8px, 0);
	-o-transform: translate3d(0, 8px, 0);
	transform: translate3d(0, 8px, 0);
	visibility: hidden;
	opacity: 0;
	width: 0;
	overflow: hidden;
}
.topcatalog-list li:hover > ul {
	overflow: initial;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	visibility: visible;
	opacity: 1;
	width: auto;
}
.topcatalog-list li ul > li:last-child > a {
	border-bottom: none;
}
.topmenu .mainmenu-btn {
	position: relative;
	color: #373d54;
	text-transform: uppercase;
	border: 1px solid #e0e4f6;
	border-right: none;
	width: 100%;
	padding: 11px 10px 11px 43px;
	font-weight: 500;
	text-align: left;
	background: #eff1fa url(../assets/bar.png) no-repeat 18px 15px;
	display: none;
}
.topmenu .mainmenu-btn:after {
	position: absolute;
	top: 50%;
	right: 15px;
	content: '\f107';
	display: block;
	line-height: 1;
	margin: -8px 0 0;
	font-family: FontAwesome;
}
.topmenu .mainmenu {
	border-top: 1px solid #e0e4f6;
	border-bottom: 1px solid #e0e4f6;
	background: #f8fafc;
	padding: 0 24px 0 24px;
}
.topmenu .mainmenu:after {
	clear: both;
	content: '';
	display: block;
}
.topmenu .mainmenu .fa {
	display: none;
}
.topmenu .mainmenu > li {
	float: left;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
	margin: 0 0 0 0;
	position: relative;
}
.topmenu .mainmenu > li > a {
	color: #373d54;
	display: block;
	transition: all 0.2s;
	padding: 11px 19px;
}
.topmenu .mainmenu > li.menu-item-has-children > a {
	padding-right: 30px;
}
.topmenu .mainmenu > li > a:hover,
.topmenu .mainmenu > li > a.active {
	color: #3a89cf;
}
.topmenu .mainmenu > li.menu-item-has-children > a:after {
    position: absolute;
    font-family: FontAwesome;
    content: '\f107';
    display: block;
    top: 50%;
    font-size: 14px;
    right: 13px;
    line-height: 100%;
    margin: -8px 0 0 0;
}
.topmenu .mainmenu > li > a > .fa {
	margin-left: 4px;
}
.topmenu .mainmenu > li:after {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	height: 5px;
	content: '';
	display: block;
}
.topmenu .mainmenu > li > .sub-menu {
	position: absolute;
	top: 100%;
	background: #fff;
	border-top: 1px solid #e0e4f6;
	border-left: 1px solid #e0e4f6;
	border-right: 1px solid #e0e4f6;
	text-align: left;
	margin: 5px 0 0;
	transition: all 0.3s ease;
	-webkit-transform: translate3d(0, 8px, 0);
	-moz-transform: translate3d(0, 8px, 0);
	-ms-transform: translate3d(0, 8px, 0);
	-o-transform: translate3d(0, 8px, 0);
	transform: translate3d(0, 8px, 0);
	visibility: hidden;
	opacity: 0;
	z-index: 4;
	width: 0;
}
.topmenu .mainmenu > li:hover > .sub-menu {
	width: auto;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	visibility: visible;
	opacity: 1;
}
.topmenu .mainmenu > li > .sub-menu li {
	position: relative;
	line-height: 120%;
}
.topmenu .mainmenu > li > .sub-menu li a {
	text-transform: none;
	font-weight: 400;
	color: #373d54;
	font-size: 14px;
	line-height: 120%;
	border-bottom: 1px solid #e0e4f6;
	display: block;
	padding: 11px 25px 11px 13px;
	transition: all 0.2s;
	background: #f8fafc;
	position: relative;
	width: 201px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.topmenu .mainmenu > li > .sub-menu li a.active {
	color: #3a89cf;
}
.topmenu .mainmenu > li > .sub-menu li:hover > a {
	background: #fff;
}
.topmenu .mainmenu > li > .sub-menu li.menu-item-has-children > a:after {
    position: absolute;
    font-family: FontAwesome;
    content: '\f105';
    display: block;
    top: 50%;
    font-size: 14px;
    right: 14px;
    line-height: 100%;
    margin: -8px 0 0 0;
}
.topmenu .mainmenu > li > .sub-menu li:after {
	content: '';
	background: #373d54;
	position: absolute;
	top: -1px;
	bottom: -1px;
	left: -1px;
	z-index: 3;
	width: 3px;
	display: none;
}
.topmenu .mainmenu > li > .sub-menu li:hover:after {
	display: block;
}
.topmenu .mainmenu > li > .sub-menu li .fa {
	position: absolute;
	right: 14px;
	line-height: 100%;
	top: 50%;
	margin: -1px 0 0;
	-ms-transform: translate(0,-50%);
	-o-transform: translate(0,-50%);
	-moz-transform: translate(0,-50%);
	-webkit-transform: translate(0,-50%);
	transform: translate(0,-50%);
	transition: all 0.2s;
}
.topmenu .mainmenu > li > .sub-menu li ul {
	position: absolute;
	left: 100%;
	top: -1px;
	background: #fff;
	border: 1px solid #e0e4f6;
	border-bottom: none;
	transition: all 0.3s ease;
	-webkit-transform: translate3d(0, 8px, 0);
	-moz-transform: translate3d(0, 8px, 0);
	-ms-transform: translate3d(0, 8px, 0);
	-o-transform: translate3d(0, 8px, 0);
	transform: translate3d(0, 8px, 0);
	visibility: hidden;
	opacity: 0;
	width: 0;
}
.topmenu .mainmenu > li > .sub-menu li:hover > ul {
	width: auto;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	visibility: visible;
	opacity: 1;
}

/* mainmenu more */
.topmenu .mainmenu {
	position: relative;
	overflow: hidden;
	height: 43px;
}
.topmenu .mainmenu.sections-show {
	overflow: initial;
}
.topmenu .mainmenu li.mainmenu-more {
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	color: #18202e;
	display: none;
	padding: 0;
	background: transparent;
	transition: all 0.2s;
	border-left: 1px solid transparent;
}
.topmenu .mainmenu li.mainmenu-more:hover {
	background: #fff;
	border-left: 1px solid #e0e4f6;
}
.mainmenu-more span {
	display: block;
	padding: 11px 19px;
}
.topmenu .mainmenu li.mainmenu-more .mainmenu-sub {
	position: absolute;
	background: #fff;
	border-top: 1px solid #e0e4f6;
	border-left: 1px solid #e0e4f6;
	border-right: 1px solid #e0e4f6;
	text-align: left;
	margin: 5px 0 0;
	transition: all 0.3s ease;
	-webkit-transform: translate3d(0, 8px, 0);
	-moz-transform: translate3d(0, 8px, 0);
	-ms-transform: translate3d(0, 8px, 0);
	-o-transform: translate3d(0, 8px, 0);
	transform: translate3d(0, 8px, 0);
	visibility: hidden;
	opacity: 0;
	z-index: 4;
	width: 0;
	overflow: hidden;
	right: 0;
	left: auto;
	top: 100%;
}
.topmenu .mainmenu li.mainmenu-more .mainmenu-sub:after {
	clear: both;
	display: block;
	content: '';
}
.topmenu .mainmenu li.mainmenu-more:hover .mainmenu-sub {
	width: auto;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	visibility: visible;
	opacity: 1;
	overflow: initial;
}
.topmenu .mainmenu li.mainmenu-more .mainmenu-sub li {
	position: relative;
	line-height: 120%;
}
.topmenu .mainmenu li.mainmenu-more .mainmenu-sub li a {
	text-transform: none;
	font-weight: 400;
	color: #373d54;
	font-size: 14px;
	line-height: 120%;
	border-bottom: 1px solid #e0e4f6;
	display: block;
	padding: 11px 15px 11px 15px;
	transition: all 0.2s;
	background: #f8fafc;
	position: relative;
	width: 201px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.topmenu .mainmenu li.mainmenu-more .mainmenu-sub li:hover > a {
	background: #fff;
}
.topmenu .mainmenu li.mainmenu-more .mainmenu-sub li:after {
	content: '';
	background: #373d54;
	position: absolute;
	top: -1px;
	bottom: -1px;
	right: -1px;
	z-index: 3;
	width: 3px;
	display: none;
}
.topmenu .mainmenu li.mainmenu-more .mainmenu-sub li:hover:after {
	display: block;
}
.topmenu .mainmenu li.mainmenu-more .mainmenu-sub li .fa {
	position: absolute;
	left: 6px;
	line-height: 100%;
	top: 50%;
	margin: -1px 0 0;
	line-height: 100%;
	-ms-transform: translate(0,-50%);
	-o-transform: translate(0,-50%);
	-moz-transform: translate(0,-50%);
	-webkit-transform: translate(0,-50%);
	transform: translate(0,-50%);
	transition: all 0.2s;
}
.topmenu .mainmenu li.mainmenu-more .mainmenu-sub li .fa:before {
	content: '\f104';
}
.topmenu .mainmenu li.mainmenu-more .mainmenu-sub li ul {
	margin: 0;
	position: absolute;
	top: -1px;
	background: #fff;
	border: 1px solid #e0e4f6;
	transition: all 0.3s ease;
	-webkit-transform: translate3d(0, 8px, 0);
	-moz-transform: translate3d(0, 8px, 0);
	-ms-transform: translate3d(0, 8px, 0);
	-o-transform: translate3d(0, 8px, 0);
	transform: translate3d(0, 8px, 0);
	visibility: hidden;
	opacity: 0;
	width: 0;
	overflow: hidden;
	right: 100%;
	left: auto;
}
.topmenu .mainmenu li.mainmenu-more .mainmenu-sub li:hover > ul {
	margin: 0;
	width: auto;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	visibility: visible;
	opacity: 1;
	overflow: initial;
}
.topmenu .mainmenu li.mainmenu-more .mainmenu-sub li ul:after {
	clear: both;
	display: block;
	content: '';
}
.topmenu .mainmenu li.mainmenu-more .mainmenu-sub li ul > li:last-child > a {
	border-bottom: none;
}
/* mainmenu more */

.topmenu .topsearch {
	position: absolute;
	top: 0;
	right: 0;
}
.topsearch .topsearch-btn {
	height: 43px;
	line-height: 43px;
	width: 41px;
	text-align: center;
	border: 1px solid #e0e4f6;
	display: block;
	background: #f8fafc;
	position: relative;
}
.topsearch .topsearch-btn:hover {
	color: #3a89cf;
}
.topsearch .topsearch-btn .fa {
	display: inline-block;
	padding: 1px;
}
.search-show .topsearch .topsearch-btn .fa:before {
	content: '\f00d';
}
.topsearch .topsearch-form {
	z-index: 3;
	position: absolute;
	top: 100%;
	right: 0;
	margin: 5px 0 0;
	display: block;
	transition: all 0.2s ease;
	-webkit-transform: translate3d(0, 5px, 0);
	-moz-transform: translate3d(0, 5px, 0);
	-ms-transform: translate3d(0, 5px, 0);
	-o-transform: translate3d(0, 5px, 0);
	transform: translate3d(0, 5px, 0);
	visibility: hidden;
	opacity: 0;
}
.search-show .topsearch .topsearch-form {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	display: block;
	visibility: visible;
	opacity: 1;
}
.topsearch .topsearch-form input[type=text] {
	border: 1px solid #e0e4f6;
	background: #f8fafc;
	height: 39px;
	width: 300px;
	color: #373d54;
	font-size: 14px;
	padding: 0 45px 0 15px;
	transition: all 0.2s;
}
.topsearch .topsearch-form input[type=text]::-webkit-input-placeholder {
	color: #373d54;
}
.topsearch .topsearch-form input[type=text]::-moz-placeholder {
	color: #373d54;
	opacity: 1;
}
.topsearch .topsearch-form input[type=text]:-ms-input-placeholder {
	color: #373d54;
}
.topsearch .topsearch-form button[type=submit] {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 41px;
	background: #373d54;
	color: #FFFFFF;
	transition: all 0.2s;
	border: none;
}
.topsearch .topsearch-form button[type=submit]:hover {
	background: #474f6e;
}


.header {
	margin: 0 0 27px;
}
.header:after {
	display: block;
	clear: both;
	content: "";
}
.header_top {
	background: #f8fafc;
	border-bottom: 1px solid #e0e4f6;
}
.contactinfo {
	font-size: 13px;
	float: left;
}
.contactinfo li {
	padding: 10px 15px 0;
	color: #373d54;
}
.contactinfo li * {
	line-height: 1;
}
.contactinfo li:first-child{
	margin-left: -15px;
}
.contactinfo li .fa {
	margin-right: 3px;
	margin-bottom: 2px;
	vertical-align: middle;
	color: #5f6680;
}
.social-icons {
	float: right;
	text-align: right;
	margin: 0;
}
.social-icons li a {
	border: 0 none;
	border-radius: 0;
	color: #5f6680;
	padding:0px;
}
.social-icons li{
	display:inline-block;
}
.social-icons li a i {
	padding: 11px 15px;
	margin-bottom: -1px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}
.social-icons li a i:hover{
	color: #fff;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}
.social-icons .fa-facebook:hover {
	background: #0083C9;
}
.social-icons .fa-twitter:hover  {
	background:#5BBCEC;
}
.social-icons .fa-linkedin:hover  {
	background:#FF4518;
}
.social-icons .fa-dribbble:hover  {
	background:#90C9DC;
}
.social-icons .fa-google-plus:hover  {
	background:#CE3C2D;
}
.social-icons .fa-instagram:hover  {
	background:#b4307d;
}
.social-icons .fa-vk:hover  {
	background:#4c75a3;
}
.header-middle {
	padding: 25px 0;
	text-align: justify;
}
.header-middle .header-middle-cont {
	font-size: 0;
}
.header-middle .header-middle-cont > * {
	font-size: 15px;
}
.header-middle .header-middle-cont:after {
	content: '';
	display: inline-block;
	width: 100%;
}
.toplogo {
	text-align: left;
	display: inline-block;
	vertical-align: middle;
}
.toplogo a {
	display: block;
}
.toplogo img {
	display: block;
	max-height: 120px;
	max-width: 400px;
	width: auto;
	height: auto;
}
.shop-menu {
	text-align: left;
	display: inline-block;
	vertical-align: middle;
}
.shop-menu ul li {
	display:inline-block;
	padding-left: 15px;
	padding-right: 15px;
}
.shop-menu ul li:last-child {
	padding-right: 0;
}
.shop-menu ul li a {
	background: #FFFFFF;
	font-size: 14px;
	padding: 2px 0;
	line-height: 1;
	color: #373d54;
	display: inline-block;
}
.shop-menu ul li * {
	line-height: 1;
}
.shop-menu ul li a:hover {
	color: #373d54;
	opacity: 1 !important;
	background: transparent;
}
.shop-menu ul li a i {
	margin-right:2px;
	color: #5f6680;
	padding: 0 1px;
	display: inline-block;
}
.shop-menu ul li a b {
	font-weight: 400;
}
.shop-menu ul li a .shop-menu-ttl {
	display: inline-block;
	border-bottom: 1px solid transparent;
	transition: all 0.2s;
	line-height: 1;
}
.shop-menu ul li a:hover .shop-menu-ttl {
	border-color: #5f6680;
}
.shop-menu ul li.topauth a:first-child {
	margin: 0;
	padding: 2px 12px 2px 0;
	background: url(../assets/sep1.png) no-repeat right center;
}
